# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
*.xml
*.pb
.idea/sonarlint/issuestore/8/3/8347db9cc2f947f03bbd926ff04752c62ea7989f
.idea/sonarlint/issuestore/3/0/3029eb11638cb25bae505f33cb8bb75817cd92bc
.idea/runConfigurations.xml
